/*********ONE********/

.one__body {
  background-color: #e5d4ef;
  padding: 20px 0;
}
.one__title {
  padding: 0 0 10px 10px;
}
.one__text {
  padding: 0 0 10px 10px;
}
.one__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/****Эффект****/
.one__item {
  margin: 10px;
}
.item-one {
  font-family: 'Quattrocento', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
}
.item-one * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.item-one img {
  max-width: 100%;
  vertical-align: top;
}
.item-one figcaption {
  position: absolute;
  top: calc(77%);
  width: 100%;
  background-color: #ffffff;
  padding: 15px 25px 65px;
}
.item-one figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.item-one h3,
.item-one p {
  margin: 0 0 10px;
}
.item-one h3 {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
}
.item-one p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}
.item-one a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.item-one:hover figcaption {
  top: 80px;
}

/*******TWO*******/

.two__body {
  padding: 20px 0;
  background-color: #fefae0;
}
.two__title {
  padding: 0 0 10px 10px;
}
.two__text {
  padding: 0 0 10px 10px;
}
.two__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/****Эффект***/
.two__item {
  margin: 10px;
}

.item-two {
  font-family: 'Playfair Display', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  min-width: 230px;
  max-width: 315px;
  max-height: 220px;
  width: 100%;
  color: #000000;
  text-align: right;
  font-size: 16px;
  background-color: #000000;
}
.item-two * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.item-two img {
  max-width: 100%;
  backface-visibility: hidden;
}
.item-two figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: #ffffff;
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}
.item-two figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 120px 0;
  border-color: transparent #ffffff transparent transparent;
}
.item-two:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.item-two h3,
.item-two p {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0;
}
.item-two h3 {
  margin: 0 0 5px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 1.4em;
  opacity: 0.75;
}
.item-two p {
  font-size: 0.8em;
}
.item-two i {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  font-size: 44px;
  color: #ffffff;
  opacity: 0;
}
.item-two a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.item-two:hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.item-two:after,
.item-two:hover figcaption,
.item-two:hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/*******THREE*******/

.three__body {
  padding: 20px 0;
  background-color: #bde0fe;
}
.three__title {
  padding: 0 0 10px 10px;
}
.three__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/****Эффект****/

.three__item {
  margin: 10px;
}
.item-three {
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  background: #000000;
}
.item-three img {
  opacity: 1;
  width: 100%;
  position: relative;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.item-three__center {
  border-radius: 5px;
  display: block;
  content: '';
  position: absolute;
  background-color: #000;
  top: 50%;
  left: 50%;
  height: 70px;
  width: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
  opacity: 0;
  text-align: center;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.item-three__center i {
  font-size: 38px;
  padding: 6px;
  color: #ffffff;
  line-height: 70px;
  opacity: 0.3;
}
.item-three figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
.item-three figcaption > div {
  float: left;
  height: 100%;
  overflow: hidden;
  width: 50%;
  position: relative;
}
.item-three figcaption a {
  opacity: 0.7;
}
.item-three figcaption a:hover {
  opacity: 1;
}
.item-three figcaption h3 {
  background-color: #222;
  word-spacing: -0.1em;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1em;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
  transition: opacity 0.45s, -webkit-transform 0.45s, -moz-transform 0.45s, -o-transform 0.45s,
    transform 0.45s;
}
.item-three figcaption .item-three__left h3 {
  border-radius: 5px 0 0 5px;
  top: 50%;
  padding: 4px 45px 4px 10px;
  right: 0;
  -webkit-transform: translate(100%, 0px);
  transform: translate(100%, 0px);
}
.item-three figcaption .item-three__right h3 {
  border-radius: 0 5px 5px 0;
  bottom: 50%;
  padding: 4px 10px 4px 35px;
  padding-left: 42px;
  -webkit-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
}
.item-three a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
.item-three .item-three__red {
  background-color: #8c212a;
}
.item-three .item-three__yellow {
  background-color: #945600;
}
.item-three .item-three__white {
  background-color: #ffffff;
  color: #444444;
}
.item-three:hover img {
  opacity: 0.5;
}
.item-three:hover figcaption .item-three__left h3 {
  opacity: 1;
  -webkit-transform: translate(0%, 0px);
  transform: translate(0%, 0px);
}
.item-three:hover figcaption .item-three__right h3 {
  opacity: 1;
  -webkit-transform: translate(0%, 0px);
  transform: translate(0%, 0px);
}
.item-three:hover .item-three__center {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.item-three:hover .item-three__center i {
  -webkit-transform: translate(0%, -10px);
  transform: translate(0%, -10px);
}

/*******FOUR*******/
.four__body {
  padding: 20px 0;
  background-color: #edede9;
}
.four__title {
  padding: 0 0 10px 10px;
}
.four__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/****Эффект****/

.item-four {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: center;
}
.item-four * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.item-four img {
  opacity: 0.8;
  width: 100%;
}
.item-four figcaption {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.item-four h2 {
  font-weight: 400;
  left: 0;
  right: 0;
  letter-spacing: -1px;
  margin: 0 auto;
  position: absolute;
  text-transform: uppercase;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
.item-four h2 span {
  font-weight: 800;
}
.item-four p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  opacity: 0;
  font-size: 14px;
  -webkit-transform: translateY(-20%) scale(0.7);
  transform: translateY(-20%) scale(0.7);
}
.item-four__square {
  height: 78px;
  width: 78px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.item-four__square:before,
.item-four__square:after,
.item-four__square div:before,
.item-four__square div:after {
  background-color: #ffffff;
  position: absolute;
  content: '';
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.item-four__square:before,
.item-four__square:after {
  width: 65%;
  height: 2px;
}
.item-four__square div:before,
.item-four__square div:after {
  width: 2px;
  height: 65%;
}
.item-four__square:before,
.item-four__square div:before {
  left: 0;
  top: 0;
}
.item-four__square:after,
.item-four__square div:after {
  bottom: 0;
  right: 0;
}
.item-four a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
.item-four:hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.item-four:hover h2 {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.item-four:hover p {
  opacity: 1;
  -webkit-transform: translateY(0px) scale(1);
  transform: translateY(0px) scale(1);
}
.item-four:hover .item-four__square:before {
  width: 38%;
}
.item-four:hover .item-four__square div:before {
  height: 38%;
}
.item-four:hover .item-four__square:after {
  width: 55%;
}
.item-four:hover .item-four__square div:after {
  height: 55%;
}
/*******FOOTER*******/
.footer {
}
.footer__container {
}
.footer__body {
  padding: 50px 10px;
  background-color: #d6e6ff;
  border-radius: 0 0 15px 15px;
  text-align: center;
}
.header__link {
}
